header{
    background-color: #0d0d0d;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 0px 30px;
}

header a{
    color: white;
    text-decoration: none;
}

header div,nav{
    display: flex;
    align-items: center;
    gap: 30px;
}

header nav{
    justify-content: space-between;
}