.botao-time {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 1rem;
  background-color: #ff1c44;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.botao-time:hover {
  background-color: #e60037;
}

main{
    gap: 20px;
}

main{
    color: white;
    text-align: center;
}