header {
    background-color: rgb(26, 26, 27);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    display: flex;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    align-items: center;
}

.logo img{
    width: 50px;
}

.navHeader{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.navHeader nav{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    width: auto;
}

.login {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
    width: auto;
}

.login a{
    background-color: transparent;
    color: white;
    border: none;
}

.login a:hover{
    transform: scale(0.9);
    background-color: transparent;
    transition: 1s;
}