.cardsPoke{
    background-color: white;
    width: 22vw;
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
}

.cardsPoke:hover{
    background-color: rgb(177, 177, 177);
    cursor: pointer;
}

.cardsPoke img{
    width: 8vw;
    padding: 5px;
}

.cardsPoke h2{
    color: rgb(49, 49, 49);
}

.cardsPoke h3{
    color: white;
    background-color: black;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.cardsPoke p{
    display: flex;
    gap: 8px;
}