.cardMove{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    max-width: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.cardPokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    width: 200px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 150px;
}

.cardPokemon:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.cardPokemon:active{
    transform: scale(0.95);
    transition: transform 0.1s ease-in-out;
    background-color: #f0f0f0;
}

.cardPokemon h2{
    font-size: 1.2rem;
    color: #333;
}

.pokemon {
    font-size: 0.9rem;
    color: #333;
    padding: 2px 5px;
    background-color: gray;
    border-radius: 5px;
}